/* STICKY NOTES */
/*v1.3  --dhniceday*/
/*Release v1.7 caezium*/
@charset "UTF-8";

:root {
        --sticky-color-green: #b8bb26cc;
        --sticky-color-red: #fb4934cc;
        --sticky-color-yellow: #FABD2Fcc;
        --sticky-color-blue: #83a598cc;
        --sticky-color-purple: #d3869bcc;
        --sticky-color-aqua: #8ec07ccc;
        --sticky-color-orange: #fe8019cc;
        --sticky-color-pink: #f6a7c1;
        --sticky-color-brown: #b16e4b;
        --sticky-color-turquoise: #40E0D0;
        --sticky-color-salmon: #ffbfa3;
        --sticky-color-indigo: #ceace6;
        --sticky-color-magenta: #f49ac2;
        --sticky-color-violet: #cb99c9;
        --sticky-color-green-transparent: #b8bb2682;
        --sticky-color-red-transparent: #fb483481;
        --sticky-color-yellow-transparent: #fabd2f7e;
        --sticky-color-blue-transparent: #83a59882;
        --sticky-color-purple-transparent: #d3869a86;
        --sticky-color-aqua-transparent: #8ec07c79;
        --sticky-color-orange-transparent: #fe801980;
        --sticky-note-max-width: 600px;
        --sticky-border-radius: 8px;
        --sticky-font-size: 14px; /* adjust if needed*/
        --sticky-font: sans-serif; /*adjust*/
        --sticky-width: 30%;
        --sticky-offset: 16px;
        --line-width: var(--file-line-width, --line-width);
        --sticky-color-text: black;
}

.callout[data-callout~=sticky] {
        --callout-icon: none;
        background-color: var(--sticky-color-yellow) !important;
        color: var(--sticky-color-text);
        font-family: var(--sticky-font);
        font-size: var(--sticky-font-size);
        max-width: var(--sticky-note-max-width);
        margin: auto;
        border-radius: var(--sticky-border-radius) !important;
        border-width: 1px !important;
        padding: 10px;
        display: block;
        float: unset;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: relative;
        > .callout-content > :first-child {
                margin-top: 0px;
        }
        > .callout-content > :last-child {
                margin-bottom: 0px;
        }
        will-change: transform, box-shadow;
        opacity: 1;
}    
.callout[data-callout~=sticky] .callout-icon{
        display: none;
}

.callout[data-callout~=sticky]:hover,
.callout[data-callout~=sticky]:focus {
        box-shadow: 10px 10px 7px rgba(40, 40, 40, .7);
        transform: scale(1.03); /*zoom scale HERE. zoom will also be in effect while in editing mode and will clip tho, but not a big problem.*/
        z-index: 10;
        opacity: 1;
}



.callout[data-callout~=sticky] .callout-title {
        display: block;
        color: var(--sticky-color-text);
        margin: 0;
}
.callout[data-callout~=sticky] .callout-title-inner {
        padding-top: 0.25em;
        display: none;
}

.callout[data-callout~=sticky] blockquote {
        color: var(--sticky-color-text);
        border-left-color: var(--sticky-color-text);
}

.callout[data-callout~=sticky] .callout-content {
        padding: 10px;
}
.callout[data-callout~=sticky] .callout-content strong,
.callout[data-callout~=sticky] .callout-content em {
        color: var(--sticky-color-text);
        text-decoration: none;
}
.callout[data-callout~=sticky] .callout-content a.internal-link,
.callout[data-callout~=sticky] .callout-content a.external-link {
        color: var(--sticky-color-text);
}
.callout[data-callout~=sticky] mark {
        opacity: 1;
}



.callout[data-callout~=sticky]:is([data-callout-metadata~=title]) .callout-content:first-line {
        font-weight: bold;
}




/* width */
.callout[data-callout~=sticky] {
    width: var(--sticky-width);
}
.callout[data-callout~=sticky][data-callout-metadata~="s-35"] { width: 35%; }
.callout[data-callout~=sticky][data-callout-metadata~="s-40"] { width: 40%; }
.callout[data-callout~=sticky][data-callout-metadata~="s-45"] { width: 45%; }
.callout[data-callout~=sticky][data-callout-metadata~="s-50"] { width: 50%; }
.callout[data-callout~=sticky][data-callout-metadata~="s-55"] { width: 55%; }
.callout[data-callout~=sticky][data-callout-metadata~="s-60"] { width: 60%; }
.callout[data-callout~=sticky][data-callout-metadata~="s-65"] { width: 65%; }
.callout[data-callout~=sticky][data-callout-metadata~="s-70"] { width: 70%; }
.callout[data-callout~=sticky][data-callout-metadata~="s-75"] { width: 75%; }
.callout[data-callout~=sticky][data-callout-metadata~="s-80"] { width: 80%; }
.callout[data-callout~=sticky][data-callout-metadata~="s-85"] { width: 85%; }
.callout[data-callout~=sticky][data-callout-metadata~="s-90"] { width: 90%; }
.callout[data-callout~=sticky][data-callout-metadata~="s-95"] { width: 95%; }




/* positioning and floating (technicallly the normal positioning is also called floating but only in code so..) */
.callout.callout.callout[data-callout~=sticky]:is([data-callout-metadata~="left"]):not([data-callout-metadata~="float"]) {
        float: left;
        margin: unset;
        margin-right: 8px;
} 
.callout.callout.callout[data-callout~=sticky]:is([data-callout-metadata~=nofloat]) {
        float: unset !important;
        margin-bottom: 20px !important;
}  
.callout.callout.callout[data-callout~=sticky]:is([data-callout-metadata~="right"]):not([data-callout-metadata~="float"]) {
        float: right;
        margin: unset;
        margin-left: 8px;
}
.callout.callout.callout[data-callout~=sticky]:is([data-callout-metadata~="center"]):not([data-callout-metadata~="float"]) {
        display: block;
        margin: auto;
        float: unset;
}


:is(.markdown-source-view .cm-callout, div:not([class])):has(> .callout[data-callout-metadata*="float"]) {
        position: relative;
        overflow: visible;
}
.callout[data-callout-metadata*="float"] {
        position: absolute;
}
.callout[data-callout-metadata~="float"][data-callout-metadata~="left"],
.callout[data-callout-metadata~="float"]:not([data-callout-metadata~="right"]) {
        left: calc(-1 * (var(--sticky-width) + var(--sticky-offset)));
        right: calc(100% + var(--sticky-offset));
}
.callout[data-callout-metadata~="float"][data-callout-metadata~="right"] {
        left: calc(-1 * (var(--sticky-width) + var(--sticky-offset)));
        right: calc(100% + var(--sticky-offset));
}


/* better markdown display */
.markdown-source-view .callout[data-callout~=sticky] {
        float: unset !important;
        margin: auto !important;
        position: relative;
        max-width: calc(100% - var(--sticky-offset));
        overflow: auto;
        padding: 10px !important; 
        background-color: var(--sticky-color-yellow) !important; 
        display: block !important; 
        opacity: 0.5 !important; 
}

.markdown-source-view .callout[data-callout~=sticky]:is([data-callout-metadata~="left"]):not([data-callout-metadata~="float"]):not([data-callout-metadata~="nofloat"]) {
        float: left !important;
        margin-right: 8px !important;
}
    
.markdown-source-view .callout[data-callout~=sticky]:is([data-callout-metadata~="right"]):not([data-callout-metadata~="float"]):not([data-callout-metadata~="nofloat"]) {
        float: right !important;
        margin-left: 8px !important;
}   
.markdown-source-view .callout[data-callout~=sticky]:is([data-callout-metadata~="center"]):not([data-callout-metadata~="float"]) {
        margin: auto !important;
        float: unset !important;
}



/* colors */
.callout[data-callout~=sticky][data-callout-metadata~="green"] { background-color: var(--sticky-color-green) !important; }
.callout[data-callout~=sticky][data-callout-metadata~="red"] { background-color: var(--sticky-color-red) !important; }
.callout[data-callout~=sticky][data-callout-metadata~="yellow"] { background-color: var(--sticky-color-yellow) !important; }
.callout[data-callout~=sticky][data-callout-metadata~="blue"] { background-color: var(--sticky-color-blue) !important; }
.callout[data-callout~=sticky][data-callout-metadata~="purple"] { background-color: var(--sticky-color-purple) !important; }
.callout[data-callout~=sticky][data-callout-metadata~="aqua"] { background-color: var(--sticky-color-aqua) !important; }
.callout[data-callout~=sticky][data-callout-metadata~="orange"] { background-color: var(--sticky-color-orange) !important; }

.markdown-source-view .callout[data-callout~=sticky][data-callout-metadata~="green"][data-callout-metadata*="float"] { background-color: var(--sticky-color-green-transparent) !important; }
.markdown-source-view .callout[data-callout~=sticky][data-callout-metadata~="red"][data-callout-metadata*="float"] { background-color: var(--sticky-color-red-transparent) !important; }
.markdown-source-view .callout[data-callout~=sticky][data-callout-metadata~="yellow"][data-callout-metadata*="float"] { background-color: var(--sticky-color-yellow-transparent) !important; }
.markdown-source-view .callout[data-callout~=sticky][data-callout-metadata~="blue"][data-callout-metadata*="float"] { background-color: var(--sticky-color-blue-transparent) !important; }
.markdown-source-view .callout[data-callout~=sticky][data-callout-metadata~="purple"][data-callout-metadata*="float"] { background-color: var(--sticky-color-purple-transparent) !important; }
.markdown-source-view .callout[data-callout~=sticky][data-callout-metadata~="aqua"][data-callout-metadata*="float"] { background-color: var(--sticky-color-aqua-transparent) !important; }
.markdown-source-view .callout[data-callout~=sticky][data-callout-metadata~="orange"][data-callout-metadata*="float"] { background-color: var(--sticky-color-orange-transparent) !important; }
